body {
  background: url(./img/fondo.jgp.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cabecera{
    margin: 0px 0px;
    padding: 0px 0px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}
.gmail{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.gmail a{
    color: white;
    text-decoration: none;
}
.imagenes{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.imagenes a{
    color: white;
    text-decoration: none;
}
.cuadrados{
    margin-right: 1px;
    display: flex;
    align-items: center;
}
.fotoperfil{
    margin: 1px 1px 1px 1px;
    display: flex;
    align-items: center;
}
.cuerpo{

    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logotipo{
    margin-bottom: 20px;
    width: 500px;
    height: 80px;
    display: flex;
    justify-content: center;
}
.buscador{
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mic{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buscador input{
    border-radius: 20px;
    height: 35px;
    width: 500px;
    margin-right: -40px;
    margin-left: -20px;
}
::placeholder {
    color: gray;
    font-size: 1.1em;
    text-align: center;
  }

.iconosg{
    width: 500px;
    height: 305px;  
    margin-top: 20px;
}
.iconos1{
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.i1{
    height: 120px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.i1circulo{
    width: 60px;
     height: 60px;
     border-radius: 50%;
     background: white;
     display: flex;
     align-items: center;
     justify-content: center;
}
.i1texto{
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i1texto a{
    text-decoration: none;
    color: white;
}
.i2{
    height: 120px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.i2circulo{
    width: 60px;
     height: 60px;
     border-radius: 50%;
     background: white;
     display: flex;
     align-items: center;
     justify-content: center;
}
.i2texto{
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i2texto a{
    text-decoration: none;
    color: white;
}
.i3{
    height: 120px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.i3circulo{
    width: 60px;
     height: 60px;
     border-radius: 50%;
     background: white;
     display: flex;
     align-items: center;
     justify-content: center;
}
.i3texto{
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i3texto a{
    text-decoration: none;
    color: white;
}
.i4{
    height: 120px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.i4circulo{
    width: 60px;
     height: 60px;
     border-radius: 50%;
     background: white;
     display: flex;
     align-items: center;
     justify-content: center;
}
.i4texto{
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i4texto a{
    text-decoration: none;
    color: white;
}
.iconos2 {
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.i5{
    height: 120px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.i5circulo{
    width: 60px;
     height: 60px;
     border-radius: 50%;
     background: white;
     display: flex;
     align-items: center;
     justify-content: center;
}
.i5texto{
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i5texto a{
    text-decoration: none;
    color: white;
}
.i6{
    height: 120px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.i6circulo{
    width: 60px;
     height: 60px;
     border-radius: 50%;
     background: white;
     display: flex;
     align-items: center;
     justify-content: center;
}
.i6texto{
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i6texto a{
    text-decoration: none;
    color: white;
}
.i7{
    height: 120px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.i7circulo{
    width: 60px;
     height: 60px;
     border-radius: 50%;
     background: white;
     display: flex;
     align-items: center;
     justify-content: center;
}
.i7texto{
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i7texto a{
    text-decoration: none;
    color: white;
}
.i8{
    height: 120px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.i8circulo{
    width: 60px;
     height: 60px;
     border-radius: 50%;
     background: white;
     display: flex;
     align-items: center;
     justify-content: center;
}
.i8circulo img{
    margin-right: 2px;
}
.i8texto{
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i8texto a{
    text-decoration: none;
    color: white;
}
.pie{
    height: 60px;
    display: flex;
    flex-direction: column;
}
.pie a{
    text-decoration: none;
    color: white;
}