body {
  background: url(./img/fondo.jgp.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cabecera{
    margin: 0px 0px;
    padding: 0px 0px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}
.gmail{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.gmail a{
    color: white;
    text-decoration: none;
}
.imagenes{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.imagenes a{
    color: white;
    text-decoration: none;
}
.cuadrados{
    margin-right: 1px;
    display: flex;
    align-items: center;
}
.fotoperfil{
    margin: 1px 1px 1px 1px;
    display: flex;
    align-items: center;
}
.cuerpo{

    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logotipo{

    width: 500px;
    height: 80px;
    display: flex;
    justify-content: center;
}
.buscador{

    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buscador input{
    border-radius: 20px;
    height: 35px;
    width: 500px;
    box-shadow: 5px 2px 10px grey;
}
::placeholder {
    color: gray;
    font-size: 1.1em;
    text-align: center;
  }

.iconosg{
    border: 1px solid;
    width: 500px;
    height: 305px;  
}
.iconos1{
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.i1{
    border: 1px solid;
    height: 120px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.i1circulo{
    width: 60px;
     height: 60px;
     border-radius: 50%;
     background: white;
     display: flex;
     align-items: center;
     justify-content: center;
}
.i1texto{
    border: 1px solid;
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i1texto a{
    text-decoration: none;
    color: white;
}
.i2{
    border: 1px solid;
    height: 120px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.i2circulo{
    width: 60px;
     height: 60px;
     border-radius: 50%;
     background: white;
     display: flex;
     align-items: center;
     justify-content: center;
}
.i2texto{
    border: 1px solid;
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i2texto a{
    text-decoration: none;
    color: white;
}
.i3{
    border: 1px solid;
    height: 120px;
    width: 90px;
}
.i4{
    border: 1px solid;
    height: 120px;
    width: 90px;
}

.iconos2 {
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.i5{
    border: 1px solid;
    height: 120px;
    width: 90px;
}
.i6{
    border: 1px solid;
    height: 120px;
    width: 90px;
}
.i7{
    border: 1px solid;
    height: 120px;
    width: 90px;
}
.i8{
    border: 1px solid;
    height: 120px;
    width: 90px;
}



.pie{
    border: 1px solid;
    height: 50px;
}